@import "./Vars.scss";
@import "./Media.scss";

body {
  margin: 0;
  font-family: var(--theme-font);
  background-color: var(--main-color);
}

* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  display: none;
}